Lorem ipsum dolor sit amet, consectetur adipisicing elit. In sed enim aut corporis officiis, iusto magni hic numquam aperiam facere nesciunt vitae explicabo itaque molestiae quo soluta consequuntur eveniet repellendus.

kelas::create([
    'nama_kelas' => 'Dart',
    'slug' => 'kelas belajar Dart',
    'keterangan' => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. In sed enim aut corporis officiis, iusto magni hic numquam aperiam facere nesciunt vitae explicabo itaque molestiae quo soluta consequuntur eveniet repellendus.',
    'user_id' => '9',
    'katalogs_id' => '9',
    'status_kelas' => '9',
])

User::create([
    'nama' => 'Dart',
    'alamat' => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. In sed enim aut corporis officiis, iusto magni hic numquam aperiam facere nesciunt vitae explicabo itaque molestiae quo soluta consequuntur eveniet repellendus.',
    'no_hp' => '91212121',
    'username' => 'zikk',
    'email' => 'zik@gmail.com',
    'status_user' => '1',
    'foto_profile' => '1.jpg',
    'password' => bcrypt('123')
])
